{% extends 'hospital/admin_base.html' %}
{% load static %}
{% block content %}
{%include 'hospital/admin_dashboard_cards.html'%}
<br><br><br><br>
<div class="container">
  <div class="row">
  <div class="panel panel-primary col-md-14" style="margin-left:-5%;margin-right:-10% ;max-height: 500px; overflow-y: auto;">
    <div class="panel-heading" style="text-align:center;">
      <h6 class="panel-title">All BILLS</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>PatientName</th>
          <th>DoctorName</th>
          <th>Address</th>
          <th>Mobile</th>
          <th>Symptoms</th>
          <th>AdmitDate</th>
          <th>ReleaseDate</th>
          <th>DaySpent</th>
          <th>MedicineCost</th>
          <th>RoomCharge</th>
          <th>DoctorFee</th>
          <th>OtherCharge</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {% for p in bills %}
        <tr>
          <td>{{ p.patientName }}</td>
          <td>{{ p.assignedDoctorName }}</td>
          <td>{{ p.addressDetail }}</td>
          <td>{{ p.mobile }}</td>
          <td>{{ p.symptoms }}</td>
          <td>{{ p.admitDate }}</td>
          <td>{{ p.releaseDate }}</td>
          <td>{{ p.daySpent }}</td>
          <td>{{ p.medicineCost }}</td>
          <td>{{ p.roomCharge }}</td>
          <td>{{ p.doctorFee }}</td>
          <td>{{ p.otherCharge }}</td>
          <td>{{ p.total }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<br><br>
  <div class="row">
    <div class="panel panel-primary col-md-5" style="margin-left:2%;max-height: 250px; overflow-y: auto;">
      <div class="panel-heading" style="text-align:center;">
        <h6 class="panel-title">Recent Doctors</h6>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Mobile</th>
            <th>Status</th>

          </tr>
        </thead>
        {% for d in doctors %}
        <tr>
          <td> {{d.get_name}}</td>
          <td>{{d.department}}</td>
          <td>{{d.mobile}}</td>
          {%if d.status%}
          <td> <span class="label label-primary">Permanent</span></td>
          {% else %}
          <td> <span class="label label-success">On Hold</span></td>
          {% endif %}

        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="panel panel-primary col-md-5" style="margin-left:5%;max-height: 250px; overflow-y: auto;">
      <div class="panel-heading" style="text-align:center;">
        <h6 class="panel-title">Recent Patient</h6>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Symptoms</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Status</th>

          </tr>
        </thead>
        {% for p in patients %}
        <tr>
          <td> {{p.get_name}}</td>
          <td>{{p.symptoms}}</td>
          <td>{{p.mobile}}</td>
          <td>{{p.address}}</td>
          {%if p.status%}
          <td> <span class="label label-primary">Admitted</span></td>
          {% else %}
          <td> <span class="label label-success">On Hold</span></td>
          {% endif %}

        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <br>

</div>

<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->

{% endblock content %}
